* {
   font-family: "Chakra Petch";
   font-weight: 400;
   font-style: oblique;
}

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   background: #161616;
   color: white;
}

body {
   overflow-x: hidden;
}

.nav {
   width: 98vw;
   margin: 10px auto;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: end;
}

.nav a {
   text-decoration: none;
   width: fit-content;
   text-align: end;
   color: white;
   font-size: 20px;
   font: 600;
   padding: 6px 12px;
   cursor: pointer;
}

.mainTitle {
   font-weight: 800;
   font-style: italic;
   text-align: center;
   font-size: 100px;
   font: 800;
   margin: 200px 0 280px 0;
}

.content {
   width: 70%;
   margin: 160px auto;
}

.distort {
   transition: transform 0.25s;
   will-change: transform;
}

.projectTitleContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.projectTitle {
   font-size: 48px;
   font-weight: lighter;
   margin-bottom: 10px;
}

.projectButtonContainer {
   width: 20%;
   display: flex;
   justify-content: space-between;
}

.projectButtonContainer a {
   width: 48%;
   text-decoration: none;
   text-align: center;
   font-size: 16px;
   color: white;
   padding: 10px;
   background: transparent;
   clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
   border: transparent;
   transition: border 150ms;
   cursor: pointer;
}

.projectDesc {
   font-weight: lighter;
   color: rgba(255, 255, 255, 0.4);
   font-size: 16px;
   line-height: 30px;
}

.projectImg {
   width: 100%;
   height: 580px;
}

.projectContainer {
   margin-bottom: 80px;
}

@media (max-width: 1200px) {
   .mainTitle {
      font-size: 80px;
      margin: 150px 0 230px 0;
   }

   .content {
      width: 80%;
   }

   .projectTitle {
      font-size: 40px;
   }

   .projectDesc {
      font-size: 14px;
      line-height: 28px;
   }

   .projectImg {
      height: 500px;
   }

   .projectContainer {
      margin-bottom: 60px;
   }
}

@media (max-width: 992px) {
   .mainTitle {
      font-size: 70px;
      margin: 120px 0 180px 0;
   }

   .content {
      width: 85%;
   }

   .projectTitle {
      font-size: 36px;
   }

   .projectButtonContainer {
      width: 30%;
   }

   .projectButtonContainer a {
      font-size: 14px;
   }

   .projectDesc {
      font-size: 14px;
      line-height: 26px;
   }

   .projectImg {
      height: 450px;
   }

   .projectContainer {
      margin-bottom: 50px;
   }
}

@media (max-width: 768px) {
   .mainTitle {
      font-size: 60px;
      margin: 120px 0 120px 0;
   }

   .content {
      width: 90%;
   }

   .projectTitle {
      font-size: 32px;
   }

   .projectButtonContainer {
      width: 30%;
   }

   .projectButtonContainer a {
      font-size: 14px;
   }

   .projectDesc {
      font-size: 12px;
      line-height: 24px;
   }

   .projectImg {
      height: 400px;
   }

   .projectContainer {
      margin-bottom: 40px;
   }
}

@media (max-width: 576px) {
   .content {
      width: 95%;
   }

   .projectTitle {
      font-size: 28px;
   }

   .projectButtonContainer {
      width: 40%;
   }

   .projectButtonContainer a {
      font-size: 12px;
   }

   .projectDesc {
      font-size: 12px;
      line-height: 22px;
   }

   .projectImg {
      height: 350px;
   }

   .projectContainer {
      margin-bottom: 30px;
   }
}
